
.controller.custom {
    background: url(base.png); 
    height: 630px;
    width: 758px;
}


.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(disconnected.png);
}


.custom.disconnected { /* Better version */
    display: none;
}

.custom .triggers { /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 500px;
    height: 91px;
    position: absolute;
    left: 129px;
    top: 0px;
}

.custom.disconnected .triggers {
    display: none;
}

.custom .trigger {/* These are the actual triggers themselves */
    width:100px;
    height:91px;
    background: url(trigger.png);
}

.custom .trigger.pressed {
}

.custom .trigger.left {
    float: left;
}

.custom .trigger.right {
    float: right;
    background-position-x: -100px;
}

.custom .bumpers {
    width: 537px;
    height: 67px;
    left: 111px;
    top:  98px;
    position: absolute;
}

.custom.disconnected .bumpers {
    display: none;
}

.custom .bumper{
    width: 174px;
    height: 68px;
    background: url(bumper.png);

}

.custom .bumper.pressed {
    background-position-y: -68px;
}

.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
    transform: rotateY(180deg);
}


.custom .sticks {
    position: absolute;
    margin-top: 197px;
    width: 376px;
    margin-left: 147.5px;
    height: 198px;
}

.custom.disconnected .sticks {
    display: none;
}

.custom .stick {
    position: absolute;
    background: url(stick.png);
    height: 86px;
    width: 86px;
}
.custom .stick.pressed.left {
    background-position-x: -86px;
}
.custom .stick.pressed.right{
    background-position-x: -86px;
}
.custom .stick.left{

}
	
.custom .stick.right{
    top: calc(100% - 86px);
    left: calc(100% - 85px);
}

/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 102px;
    height: 102px;
    top: 319px;
    left: 232.4485px;
}

.custom.disconnected .dpad {
    display: none;
}

.custom .face{
    position: absolute;
}
.custom .face.up, .custom .face.down{
    width: 32px;
    height: 32px;
}
.custom .face.left, .custom .face.right{
    width: 32px;
    height: 32px;
}

.custom .face.pressed{
    background: url(dpad.png);

}
.custom .face.up{
    background-position: -31.9px;
    left: 35px;
}
.custom .face.down{
    background-position: -97px;
    left: 35px;
    top: 71px;
}

.custom .face.left{
    background-position: 0px;
    top: 35px;
}

.custom .face.right{
    background-position: -65px;
    top: 35px;
    right: 0px;

}

/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 157px;
    height: 158px;
    top: 172px;
    left: 498px;
}

.custom.disconnected .abxy  {
    display: none;
}

/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(face.png);
}
.custom .button.pressed {
    background-position-y: -50px;
}
.custom .a{
    top: 101px;
    left: 55px;
}
.custom .b{
    background-position-x: -50px;
    top: 50px;
    right: 0px;
}
.custom .x{
    background-position-x: -100px;
    top: 50px;
}
.custom .y{
    background-position-x: -150px;
    left: 55px;
}

.custom .arrows {
    position: absolute;
    width: 173px;
    height: 30px;
    top: 163px;
    left: 283px;
}

.custom .back {
    background: url(start.png);
    width: 34px;
    height: 29px;
    opacity: 0;
    float: left;
}

.custom .start {
    background: url(start.png);
    width: 29.5px;
    height: 29.5px;
    opacity: 0;
    float: right;
    background-position: 30px 0;
}
.custom .back.pressed, .custom .start.pressed {
    opacity: 1;
}
