
.controller.custom {
    background: url(base.png); 
    height: 630px;
    width: 758px;
}


.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(disconnected.png);
}


.custom.disconnected { /* Better version */
    display: none;
}

.custom .triggers { /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 500px;
    height: 91px;
    position: absolute;
    left: 128px;
    top: 0px;
}

.custom .trigger {/* These are the actual triggers themselves */
    width:100px;
    height:91px;
    background: url(trigger.png);
}

.custom .trigger.pressed {
    background-position: 80px;
    margin-right: 2px;
}

.custom .trigger.left {
    float: left;
    margin-left: 1px;
    margin-top: 1px;
}

.custom .trigger.right {
    transform: scaleX(-1);
    float: right;
    margin-right: 1px;
    margin-top; 1px;
}

.custom .bumpers {
    width: 618px;
    height: 72px;
    left: 125px;
    top:  24px;
    position: absolute;
}

.custom.disconnected .bumpers {
    display: none;
}

.custom .bumper{
    width: 179px;
    height: 70px;
    background: url(bumpers.png);

}

.custom .bumper.pressed {
    background-position: 178px;
}

.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
