
.controller.custom {
    background: url(base.png); 
    height: 630px;
    width: 758px;
}


.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(disconnected.png);
}


.custom.disconnected { /* Better version */
    display: none;
}

.custom .triggers { /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 500px;
    height: 91px;
    position: absolute;
    left: 128px;
    top: 0px;
}

.custom.disconnected .triggers {
    display: none;
}

.custom .trigger {/* These are the actual triggers themselves */
    width:100px;
    height:91px;
}

.custom .trigger.pressed {
    background: url(triggers.png);
}

.custom .trigger.left {
    float: left;
}

.custom .trigger.right {
    float: right;
}

.custom .bumpers {
    width: 536px;
    height: 68px;
    left: 109px;
    top:  100px;
    position: absolute;
}

.custom.disconnected .bumpers {
    display: none;
}

.custom .bumper{
    width: 175px;
    height: 67px;

}

.custom .bumper.pressed {
    background: url(bumper.png);
}

.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
    transform: rotateY(180deg);
}
