
.controller.custom {
    background: url(base.png); 
    height: 630px;
    width: 758px;
}


.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(disconnected.png);
}


.custom.disconnected { /* Better version */
    display: none;
}

.custom .triggers { /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 500px;
    height: 91px;
    position: absolute;
    left: 129px;
    top: 0px;
}

.custom.disconnected .triggers {
    display: none;
}

.custom .trigger {/* These are the actual triggers themselves */
    width:100px;
    height:91px;
    background: url(trigger.png);
}

.custom .trigger.pressed {
}

.custom .trigger.left {
    float: left;
}

.custom .trigger.right {
    float: right;
    background-position-x: -100px;
}

.custom .bumpers {
    width: 536px;
    height: 67px;
    left: 112px;
    top:  99px;
    position: absolute;
}

.custom.disconnected .bumpers {
    display: none;
}

.custom .bumper{
    width: 174px;
    height: 68px;

}

.custom .bumper.pressed {
    background: url(bumper.png);
}

.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
    transform: rotateY(180deg);
}


.custom .sticks {
    position: absolute;
    margin-top: 197px;
    width: 376px;
    margin-left: 147.5px;
    height: 198px;
}

.custom.disconnected .sticks {
    display: none;
}

.custom .stick {
    position: absolute;
    background: url(stick.png);
    height: 86px;
    width: 86px;
}
.custom .stick.pressed.left {
    background-position-x: -86px;
}
.custom .stick.pressed.right{
    background-position-x: -86px;
}
.custom .stick.left{

}
	
.custom .stick.right{
    top: calc(100% - 86px);
    left: calc(100% - 85px);
}

/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 102px;
    height: 102px;
    top: 319px;
    left: 232.4485px;
}

.custom.disconnected .dpad {
    display: none;
}

.custom.disconnected .abxy  {
    display: none;
}

.custom .face{
    position: absolute;
}
.custom .face.up, .custom .face.down{
    width: 32px;
    height: 32px;
}
.custom .face.left, .custom .face.right{
    width: 32px;
    height: 32px;
}

.custom .face.pressed{
    background: url(dpad.png);

}
.custom .face.up{
    background-position: -31.9px;
    left: 35px;
}
.custom .face.down{
    background-position: -97px;
    left: 35px;
    top: 71px;
}

.custom .face.left{
    background-position: 0px;
    top: 35px;
}

.custom .face.right{
    background-position: -65px;
    top: 35px;
    right: 0px;

}

